ibmcloud_api_key          = "YOUR_IBM_CLOUD_API_KEY"
ibmcloud_cluster_region   = "jp-tok"
ibmcloud_resource_group   = "default"

roks_cluster_name         = "roks-cluster-4"
workers_per_zone          = 1
min_worker_vcpu_count     = 16
min_worker_memory_gb      = 64
openshift_cluster_version = "4.18"
worker_pool_name          = "default"
