ibmcloud_api_key          = "YOUR_IBM_CLOUD_API_KEY"
ibmcloud_cluster_region   = "jp-tok"
ibmcloud_resource_group   = "default"

roks_cluster_name         = "roks-cluster-4"
workers_per_zone          = 1
min_worker_vcpu_count     = 16
min_worker_memory_gb      = 64
openshift_cluster_version = "4.18"
worker_pool_name          = "default"

# Existing-cluster FLO example values
# roks_cluster_name_or_id        = "my-existing-roks-cluster"
# far_repo_url                   = "repo.f5.com"
# f5_bigip_k8s_manifest_version  = "2.3.0-bnpp-ehf-2-3.2598.3-0.0.17"
# use_cos_bucket                 = true
# ibmcloud_cos_bucket_region     = "us-south"
# ibmcloud_cos_instance_name     = "bnk-orchestration"
# ibmcloud_resources_cos_bucket  = "bnk-schematics-resources"
# f5_cne_far_auth_file           = "f5-far-auth-key.tgz"
# f5_cne_subscription_jwt_file   = "trial.jwt"
# cert_manager_namespace         = "cert-manager"
# flo_namespace                  = "f5-bnk"
# flo_utils_namespace            = "f5-utils"
# bigip_username                 = "admin"
# bigip_password                 = ""
# bigip_url                      = ""
